
        WITH stats AS (
            SELECT 
                COUNT(*) as total_rows,
                COUNT(DISTINCT FIRST_NAME) as distinct_count,
                SUM(CASE WHEN FIRST_NAME IS NULL THEN 1 ELSE 0 END) as null_count,
                CAST(MIN(FIRST_NAME) AS STRING) as min_val,
                CAST(MAX(FIRST_NAME) AS STRING) as max_val,
                CAST(AVG(CASE WHEN TRY_CAST(FIRST_NAME AS FLOAT) IS NOT NULL THEN CAST(FIRST_NAME AS FLOAT) ELSE NULL END) AS STRING) as avg_val
            FROM "UNICORN"."PUBLIC"."ACTOR"
        ),
        unique_stats AS (
            SELECT COUNT(*) as unique_count
            FROM (
                SELECT FIRST_NAME
                FROM "UNICORN"."PUBLIC"."ACTOR"
                WHERE FIRST_NAME IS NOT NULL
                GROUP BY FIRST_NAME
                HAVING COUNT(*) = 1
            ) a
        ),
        top_vals AS (
            SELECT CAST(FIRST_NAME AS STRING) as val, COUNT(*) as val_count
            FROM "UNICORN"."PUBLIC"."ACTOR"
            WHERE FIRST_NAME IS NOT NULL
            GROUP BY 1
            ORDER BY 2 DESC
            LIMIT 3
        )
        SELECT 
            s.*,
            COALESCE(u.unique_count, 0) as unique_count,
            (SELECT LISTAGG(val || ':' || val_count, ',') FROM top_vals) as top_values
        FROM stats s
        CROSS JOIN unique_stats u
        
